<div id="main" class="container">


  <div id="progress_bar" class="row hidden">
    <div class="progress">
    <div  class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
      <span class="sr-only">0% Complete</span>
    </div>
  </div>
  </div>

  <div id="head" class="navbar row  hidden"></div>






  <div class="row " id="search_row">

    <!-- Search Bar -->

        <div class="input-group col-md-8 col-md-offset-2 " style="padding-top: 6cm;">
         <input id="search_text" type="text" class="form-control input-lg" placeholder="Search for...">
          <span class="input-group-btn">
            <button id="search" class="btn btn-default btn-lg"  type="button"><span class="glyphicon glyphicon-search " ></span></button>
          </span>

        </div>


  </div>

  <div id="results" class="row center-block hidden jumbotron" >
      <table class="table table-bordered table-responsive table-hover" >    
      </table>
  </div>




</div>
