<div id="main" class="container">




  <div id="head" class="navbar row  hidden"></div>






  <div class="row " id="search_row">

    <!-- Search Bar -->

        <div class="input-group col-md-8 col-md-offset-2 " style="padding-top: 6cm;">
         <input id="search_text" type="text" class="form-control input-lg" placeholder="Search for...">
          <span class="input-group-btn">
            <button id="search" class="btn btn-default btn-lg"  type="button"><span class="glyphicon glyphicon-search " ></span></button>
          </span>

        </div>


  </div>

    <div id="results" class="row center-block hidden jumbotron table-responsive" >
      <table class="table table-bordered  table-hover" >
      </table>
  </div>




</div>
